* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
color: white;
}
html , body{
height : 100%;
width : 100%;
}

button{
    background-color: crimson;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 10px;
    border-color: aliceblue;
}
body{
    background-color: #111;
}
