* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
background-color: #111;
}
html , body{
height : 100%;
width : 100%;
}

#bulb{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-color: grey;
    margin: 200px 900px;
}

button{
    position: absolute;
    padding: 50px 150px;
    background-color: crimson;
    border-radius:7px;
    font-size: 20px;
    margin: 800px 990px;
}