* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html , body{
height : 100%;
width : 100%;
background-color: #111;
color: white;
}
button{
    position:absolute;
    padding:50px 80px;
    background-color: crimson;
    border-radius: 10px;
    font-size: 100px;
}
#inc{
    margin: 30% 75%;
}
#dec{
    margin: 30% 5%;
}
h2{
    position:absolute;
    font-size: 400px;
    margin: 5% 44%;
}
