* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html , body{
height : 100%;
width : 100%;
background-color: #111;
color: white;
}
button{
    padding:10px 20px;
    margin-top: 20px;
    background-color: crimson;
}
h2{
    font-size: 50px;
}